<div class = 'container-fluid'>
	<div class = 'row', id='prehead'>
		<div class = 'col-xs-1'>
			<%= link_to :网站首页, root_path %>
		</div>
		<div class="col-xs-1 col-xs-offset-9">
			<%= link_to :购物车, carts_path %>
		</div>
		<div class="col-xs-1">
			<%= link_to :最近的订单, order_forms_recent_path %>
		</div>
	</div>
</div>